# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PHP_WorkSpace\Sign_Up_Form\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
